.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    padding: 18px 15px;

    background-color: #3C4140;
}

.header::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url('../../img/sq.svg');
    background-repeat: repeat no-repeat;
}

.header-brand {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-brand span {
    color: #85BD71;
}

.header-navbar-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 20px;
    transition: color 200ms ease-in-out;
}

.header-navbar-link:last-child {
    padding-right: 0;
}

.header-navbar-link:hover {
    color: #85BD71;
}

@media (max-width: 450px) {
    .header-navbar {
        text-align: right;
    }

    .header-navbar-link {
        padding-right: 5px;
    }
}

@media (max-width: 321px) {
    .header-brand {
        font-size: 18px;
    }

    .header-navbar {
        margin-left: 10px;
    }
}